doctype 5
html

head
  meta(charset='utf-8')
  title Golden Retriever
  link(rel='stylesheet', href="{{ url_for('static', filename='lib/semantic.css') }}")
  link(rel='stylesheet', href="{{ url_for('static', filename='style.css') }}")

body
  .ui.container
    h1
      a(href='/') Golden Retriever

    form
      #search-bar.fluid.ui.action.left.icon.input
        i.search.icon
        input(type='text', placeholder='Enter some terms...')
        button#search.ui.button Search

    if tried_to_search
      if parsed_query == ''
        #parsed-query Your query contained only stopwords.

      else
        #parsed-query(title='Parsed query')=parsed_query

        if results
          #results
            for result in results
              .result.ui.padded.segment

                .ui.header
                  =result.name
                  span.extension=result.extension

                .ui.mini.breadcrumb
                  for folder, index in result.path
                    .section=folder
                    if index < result.path|length - 1
                      i.right.angle.icon.divider

                .body
                  for fragment, index in result.fragments
                    if index <= 7
                      p!=fragment
                      if index <= 6
                        .ui.horizontal.divider ···
                    else
                      .ui.horizontal.divider.extra ···
                      p.extra!=fragment

                  if result.fragments|length > 7
                    .see-more.ui.small.basic.button See all

        else
          #no-results No results


  script(src="{{ url_for('static', filename='lib/jquery.js') }}")
  script(src="{{ url_for('static', filename='script.js') }}")